<% content_for :nav_active_item, :applications %>
<% content_for :page_title, t('.add_project', application: present(@project.application).name) %>

<h1><%= t('.add_project', application: present(@project.application).name) %></h1>

<%= form_for @project, url: web_organization_application_projects_path do |form| %>
  <%= render partial: 'form', locals: { form: form } %>

  <p class="form-actions">
    <%= button_tag icon(:plus, t('.create')), class: 'btn btn-primary' %>
    <%= link_to t('.cancel'), web_organization_application_path(id: form.object.application), class: 'btn btn-default' %>
  </p>
<% end %>
