<% content_for :nav_active_item, :users %>
<% content_for :page_title, t('.edit_user', user: present(@membership.user).name) %>

<h1><%= t('.edit_user', user: present(@membership.user).name) %></h1>

<%= form_for @membership, url: web_organization_membership_path do |form| %>
  <%= render_error_messages(form.object) %>

  <%= form.fields_for :user do |form_user| %>
    <div class="form-group">
      <%= form_user.label :name %>
      <p class="form-control-static"><%= form_user.object.send(:name) %></p>
    </div>

    <div class="form-group">
      <%= form_user.label :email %>
      <p class="form-control-static"><%= form_user.object.send(:email) %></p>
    </div>
  <% end %>

  <%= render partial: 'form', locals: { form: form } %>

  <p class="form-actions">
    <%= button_tag icon(:save, t('.save')), class: 'btn btn-primary' %>
    <%= link_to t('.cancel'), web_organization_memberships_path, class: 'btn btn-default' %>
  </p>
<% end %>
