<div style="<%= inline_styles(:'margin-bottom' => '18px') %>">Hello <%= @resource.name %>,</div>

<div style="<%= inline_styles(:'margin-bottom' => '18px') %>">Someone has requested a link to change your password. You can do this through the link below.</div>
<div style="<%= inline_styles(:'margin-bottom' => '18px') %>"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: inline_styles(:'color' => '#4288cb') %></div>

<div style="<%= inline_styles(:'margin-bottom' => '18px') %>">If you didn’t request this, please ignore this email.</div>
<div style="<%= inline_styles %>">Your password won’t change until you access the link above and create a new one.</div>
